server:
  port: 8081
  error:
    include-message: always

spring:
  application:
    name: product-service
  data:
    mongodb:
      uri: mongodb://root:password@localhost:27017/db_product_service?authSource=admin
